# Solana Configuration
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_DOOM_MINT_ADDRESS=5se2cVMggFyibMqsJycmqH4N6dUY6z8iqLB8fjxrgqnh
NEXT_PUBLIC_DOOM_TOKEN_ACCOUNT=your_token_account_here

# Database
DATABASE_URL="file:./doom.db"

# Deployment (for production)
# NEXT_PUBLIC_SOLANA_NETWORK=mainnet-beta
# NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
